# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
myenv/
env/
*.env

# Python cache
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# PyTorch / TensorFlow
*.pt
*.pth
*.ckpt
*.h5

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs and debug
*.log
debug.log

# Data files (raw / large)
data/
*.feather
*.csv
*.hdf5

# Saved models
saved_models/
superpowers/
progress_summary/
